if SHIELD_PILLOW48_LEFT

config ZMK_KEYBOARD_NAME
    default "pillow48_left"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PILLOW48_LEFT || SHIELD_PILLOW48_RIGHT

config ZMK_SPLIT
    default y

endif