if SHIELD_PILLOW48_DONGLE

config ZMK_KEYBOARD_NAME
    default "pillow48 Dongle"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_PILLOW48_LEFT || SHIELD_PILLOW48_RIGHT || SHIELD_PILLOW48_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif