#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define SYM1 1
#define SYM2 2
#define MODS 3   
#define FUNC 4
#define MOUSE1 5
#define MOUSE2 6
#define NUM1 7
#define NUM2 8
#define FLIP 9
#define MEDIA 10

/ {
    keymap {
        compatible = "zmk,keymap";
        
        BASE {
            display-name = "Base";
            bindings = <
            &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                      &kp N8   &kp N9   &kp N0   &kp MINUS     
&kp TAB     &kp Q   &kp W   &kp E   &kp R   &kp ESC                   &kp Y   &kp U    &kp I    &kp O    &kp P    
&mo 1       &kp A   &kp S   &kp D   &kp F   &kp G                   &kp H   &kp J    &kp T    &kp L    &kp SINGLE_QUOTE
&kp LSHFT   &kp Z   &kp X   &kp C   &kp V   &tog 9                  &kp B   &kp N    &kp M    &kp K    &kp RSHFT
                    &tog 7  &mo 3   &ht_AltSpace LALT SPC           &mo 4   &kp SPC  &mo 7      
            >;            
        };

        SYM1 {
            display-name = "Frequent Symbols";
            bindings = <
            &kp F13 &kp F14 &kp F15 &kp F16 &trans                      &kp STAR        &kp LPAR    &kp RPAR        &kp UNDERSCORE     
&kp LA(SPC) &mo 2   &mo 5   &kp F17 &kp F18 &trans                      &kp EQUAL       &kp PLUS    &kp QUESTION    &kp LEFT_BRACKET    &kp RIGHT_BRACKET     
&trans      &kp F19 &kp F20 &kp F21 &kp F22 &trans                      &kp SLASH       &kp COMMA   &kp DOT         &kp COLON           &kp DOUBLE_QUOTES
&trans      &trans  &trans  &kp F23 &kp F24 &trans                      &kp LC(LS(TAB)) &kp PIPE    &kp BACKSLASH   &kp LC(TAB)         &trans
                            &trans  &mo 3   &ht_AltSpace LALT SPC       &mo 4   &kp SPC  &mo 7    
            >;
        };

        SYM2 { //CAPS_ONlY
            display-name = "Less Frequent Symbols";
            bindings = <
        &trans  &trans  &trans  &trans  &trans                                          &trans          &kp LESS_THAN       &kp GREATER_THAN    &trans             
&trans  &trans  &kp LC(MINUS)   &kp LC(PLUS)    &trans  &trans                          &kp SEMICOLON   &kp CARET           &kp AMPS            &kp LEFT_BRACE  &kp RIGHT_BRACE   
&trans  &trans  &trans          &kp LC(LSHFT)   &trans  &trans                          &kp EXCL        &kp AT              &kp HASH            &kp DLLR        &kp PRCNT       
&trans  &trans  &trans          &trans          &trans  &trans                          &trans          &kp TILDE           &kp GRAVE           &trans          &trans  
                                &trans          &mo 3   &ht_AltSpace LALT SPC           &mo 4   &kp SPC  &mo 7    
            >;
        };

        MODS {
            display-name = "Mods and Navigation";
            bindings = <
       &kp ESC      &kp UP   &kp LEFT   &kp RIGHT   &kp DOWN                    &kp LC(BSPC)    &kp BSPC    &kp DEL     &kp LC(DEL)
&kp TAB &sk LCTRL   &sk LSHFT   &sk LALT    &kp T       &kp BSPC                &kp LA(LEFT)    &mkp MCLK   &kp UP      &mkp RCLK       &kp LA(RIGHT)    
&mo 1   &kp LC(A)   &kp LC(S)   &sk LGUI    &kp LC(F)   &kp ENTER               &mkp LCLK       &kp LEFT    &kp DOWN    &kp RIGHT       &kp ENTER
&tog 10 &kp LC(Z)   &kp LC(X)   &kp LC(C)   &kp LC(V)   &kp LC(Y)               &kp LC(PG_UP)   &kp HOME    &kp END     &kp LC(PG_DN)   &trans  
                                &trans      &trans      &trans                  &mo 4   &kp SPC  &mo 7  
            >;  
        };

        FUNC { //one shot layer
            display-name = "FN keys and mostly unused symbols";
            bindings = <
    &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_CLR      &bootloader                 &kp SCROLLLOCK  &trans      &trans      &trans                                      
&kp F11     &kp F2      &kp F8      &kp F4      &kp F5      &kp F12                 &sl RALT    &sl LGUI    &sl RSHFT   &sl RCTRL   &trans   
&sl 10      &kt LCTRL   &kt LSHFT   &kt LGUI    &kt LALT    &trans                  &kp RALT    &kp LGUI    &kp RSHFT   &kp RCTRL      &trans      
&kp F1      &kp F3      &kp F6      &kp F7      &kp F9      &kp F10                 &kp INS     &kp PG_UP   &kp PG_DN   &kp PSCRN   &kp KP_NUMLOCK
                                    &mo 4       &trans      &trans                  &mo 4   &kp SPC  &mo 7     
            >;
        };

        MOUSE1 { 
            display-name = "Slow Mouse";
            bindings = <
    &trans  &trans  &trans    &trans        &trans                      &msc MOVE_Y(50)    &msc MOVE_Y(20)   &msc MOVE_Y(-20)   &msc MOVE_Y(-50)     
&trans  &trans  &trans  &mo 6   &trans      &trans                      &trans      &mkp MCLK           &mmv MOVE_Y(-250)   &mkp RCLK           &trans    
&trans  &trans  &trans  &trans  &trans      &trans                      &mkp LCLK   &mmv MOVE_X(-250)   &mmv MOVE_Y(250)    &mmv MOVE_X(250)    &trans
&trans  &trans  &trans  &trans  &trans      &trans                      &trans      &msc MOVE_X(-20)    &msc MOVE_X(20)     &trans              &trans  
                        &trans  &mo 3       &ht_AltSpace LALT SPC       &mo 4   &kp SPC  &mo 7    
            >;
        };

        MOUSE2 { 
            display-name = "Fast Mouse";
            bindings = <
    &trans  &trans  &trans    &trans        &trans                      &msc MOVE_X(-50)    &msc MOVE_Y(150)   &msc MOVE_Y(-150)   &msc MOVE_X(50)     
&trans  &trans  &trans  &trans  &trans      &trans                      &trans      &mkp MCLK           &mmv MOVE_Y(-1000)  &mkp RCLK           &trans    
&trans  &trans  &trans  &trans  &trans      &trans                      &mkp LCLK   &mmv MOVE_X(-1000)  &mmv MOVE_Y(1000)   &mmv MOVE_X(1000)   &trans
&trans  &trans  &trans  &trans  &trans      &trans                      &trans      &trans              &trans              &trans              &trans
                        &trans  &mo 3       &ht_AltSpace LALT SPC       &mo 4   &kp SPC  &mo 7    
            >;
        };

        NUM1 {
            display-name = "Base numbers";
            bindings = <
            &kp N1  &kp N2      &kp N3      &kp N4      &tog 8                      &kp N1      &kp N2      &kp N3          &kp N4       
&kp TAB     &kp N5  &kp N6      &kp N7      &kp N8      &kp BSPC                    &kp N5      &kp N6      &kp N7          &kp N8      &kp BSPC       
&mo 1       &kp N9  &kp N0      &kp COMMA   &kp DOT     &kp ENTER                   &kp N9      &kp N0      &kp COMMA       &kp DOT     &kp ENTER 
&kp LSHFT   &trans  &kp MINUS   &kp SLASH   &kp EQUAL   &trans                      &trans      &kp MINUS   &kp SLASH       &kp EQUAL   &tog 8   
                                &trans      &mo 3       &ht_AltSpace LALT SPC       &mo 4       &kp SPC     &mo 7
            >;
        };

        NUM2 {
            display-name = "Numpad numbers";
            bindings = <
            &kp KP_N1   &kp KP_N2       &kp KP_N3       &kp KP_N4       &trans                      &kp KP_N1   &kp KP_N2       &kp KP_N3           &kp KP_N4       
&kp TAB     &kp KP_N5   &kp KP_N6       &kp KP_N7       &kp KP_N8       &kp BSPC                    &kp KP_N5   &kp KP_N6       &kp KP_N7           &kp KP_N8       &kp BSPC       
&mo 1       &kp KP_N9   &kp KP_N0       &kp KP_COMMA    &kp KP_DOT      &kp ENTER                   &kp KP_N9   &kp KP_N0       &kp KP_COMMA        &kp KP_DOT      &kp ENTER 
&kp LSHFT   &kp KP_PLUS &kp KP_MINUS    &kp KP_MULTIPLY &kp KP_DIVIDE   &kp KP_EQUAL                &kp KP_PLUS &kp KP_MINUS    &kp KP_MULTIPLY     &kp KP_DIVIDE   &kp KP_EQUAL   
                                        &tog 7          &mo 3           &ht_AltSpace LALT SPC       &mo 4       &kp SPC         &mo 7
            >;
        };

        FLIP {
            display-name = "Left";
            bindings = <
        &kp N8  &kp N9  &kp N0  &kp MINUS   &kp COMMA                   &kp N1  &kp N2   &kp N3  &kp N4                             
&kp TAB &kp U   &kp I   &kp O   &kp P       &kp Y                       &kp Q   &kp W    &kp E   &kp R   &kp T   
&mo 1   &kp J   &kp K   &kp L   &kp H       &kp SINGLE_QUOTE            &kp A   &kp S    &kp D   &kp F   &kp G     
&trans  &trans  &kp B   &kp N   &kp M       &trans                      &kp Z   &kp X    &kp C   &kp V   &trans
                        &tog 7  &mo 3       &ht_AltSpace LALT SPC       &mo 4   &kp SPC  &mo 7
            >;
        };
 
        MEDIA {
            display-name = "Punctuation";
            bindings = <
            &kp CARET   &kp AMPS    &kp STAR            &kp GRAVE           &trans                      &trans  &trans  &trans  &trans      
&kp TAB     &kp LPAR    &kp RPAR    &kp SEMICOLON       &kp BACKSLASH       &trans                      &trans  &trans  &trans  &trans  &trans       
&mo 1       &kp HOME    &kp END     &kp DEL             &kp LESS_THAN       &kp GREATER_THAN            &trans  &trans  &trans  &trans  &trans            
&kp LSHFT   &trans      &kp SLASH   &kp LEFT_BRACKET    &kp RIGHT_BRACKET   &trans                      &trans  &trans  &trans  &trans  &trans       
                                    &tog 7              &mo 3               &ht_AltSpace LALT SPC       &mo 4   &kp SPC &mo 7
            >;
        };
    };

    behaviors {
        ht_AltSpace: hold_tap_AltSpace {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_AltSpace";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        sk: sticky_key {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <5000>;   
            quick-release;             
        };
    };
/*
0 1 2 3 4               5 6 7 8
9  10 11 12 13 14       15 16 17 18 19
20 21 22 23 24 25       26 27 28 29 30
31 32 33 34 35 36       37 38 39 40 41
         42 43 44       45 46 47   
*/

    combos {
        compatible = "zmk,combos";
        combo_N6 {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp N6>;
        };
        combo_N7 {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp N7>;
        };
        combo_AppSwitch {
            timeout-ms = <50>;
            key-positions = <9 10>;
            bindings = <&kp LA(TAB)>;
        };
        combo_LCTRL {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp LCTRL>;
        };
        combo_LSHFT {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp LSHFT>;
        };
        combo_LALT {
            timeout-ms = <50>;
            key-positions = <22 23>;
            bindings = <&kp LALT>;
        };           
        combo_LGUI {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LGUI>;
        };
        combo_RCTRL {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp RCTRL>;
        }; 
        combo_RSHFT {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp RSHFT>;
        };
        combo_RALT {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp RALT>;
        }; 
        combo_reset_left {
            timeout-ms = <50>;
            key-positions = <2 3 4>;
            bindings = <&bootloader>;
        };               
        combo_reset_right {
            timeout-ms = <50>;
            key-positions = <5 6 7>;
            bindings = <&bootloader>;
        };
        combo_to_BASE {
            timeout-ms = <50>;
            key-positions = <42 43 44>;
            bindings = <&to 0>;
        };
        combo_FUNC_tog {
            timeout-ms = <50>;
            key-positions = <20 21 22>;
            bindings = <&tog 2>;
        };
        combo_FUNC_sl {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&sl 2>;
        };
        combo_PUNC_tog {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&tog 10>;
        };
        combo_PUNC_sl {
            timeout-ms = <50>;
            key-positions = <31 32 33>;
            bindings = <&sl 10>;
        };
    };
};